# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Gradle build files
.gradle/
build/

# IDE files
.idea/
.vscode/
*.iml

# Compiled class files
*.class

# Log files
*.log

# MacOS files
.DS_Store
